// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navMenu
{
    background-color: #002F6C;
}

.slider
{
    background-color: #002F6C;
}

div.navMenu{
    background-color: #002F6C;
}